<footer class="footer">
  <small>
	  <b>reservation booker</b>
    by <a href="http://www.levion.com/">levion, LLC</a>
  </small>
  <ul>
	  <li><%= link_to "contact us", contact_path %></li>
  </ul>
  </nav>
</footer>